<head>
  <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <div class="container-flex">
      <a class="navbar-brand ms-auto ps-3" href="{% url 'home' %}">Sistema de Registro de usuários</a>

      {% if user.is_authenticated %}
      <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" data-bs-target="#sideBar"
        data-bs-toggle="offcanvas">
        <i class="fas fa-bars"></i>
      </button>
    </div>
    <div class="dropdown position-absolute end-0 p-2">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
        data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fas fa-user fa-fw"></i>
      </a>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
        <li><a class="dropdown-item" href="#">{{user.username}}</a></li>
        <li><a class="dropdown-item" href="{% url 'password_reset' %}">Resetar senha</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
        <li>
          <hr class="dropdown-divider" />
        </li>
        <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
      </ul>
    </div>
    {% else %}

    {% endif %}

  </nav>
  {% include 'base/sidebar.html' %}
  </div>
</head>