<div class="offcanvas offcanvas-start sb-side-nav-dark" id="sideBar">
  <div class="offcanvas-header">
    <div class="offcanvas-title">
      <h2>
        SideBar Navigation
      </h2>
    </div>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
  </div>
  <div class="offcanvas-body">
    <h4>Some Text</h4>
    <h4>Some Text</h4>
    <h4>Some Text</h4>
    <button type="button" class="btn btn-success">
      button 1
    </button>
    <button type="button" class="btn btn-danger">
      button 2
    </button>
  </div>
</div>
